\screen_zoom "120"
\accept_compound true
\path_prefix "E:\MiKTeX\MiKTeX 2.8\miktex\bin;E:\DJTeX\ImageMagick;E:\DJTeX\Gnuplot43\binaries;E:\DJTeX\Gnuplot\bin;E:\DJTeX\Gnuplot4TikZ;E:\DJTeX\gs\gs8.70\lib;E:\DJTeX\gs\gs8.70\bin;E:\Program Files\Perl\bin;E:\Program Files\Perl\site\bin;E:\DJTeX\Ghostgum\gsview;E:\DJTeX\Asymptote;E:\DJTeX\LCDF Typetools\bin;E:\DJTeX\LyX\bin;E:\DJTeX\LyX\etc\Metafile2eps"
\format "pdf3" "pdf" "PDF (dvipdfm)" "m" "pdfview" "" "document,vector"
\format "pdf2" "pdf" "PDF (pdflatex)" "F" "pdfview" "" "document,vector"
\format "pdf" "pdf" "PDF (ps2pdf)" "P" "pdfview" "" "document,vector"
\format "svg" "svg" "SVG" "" "inkscape --file=$$i" "inkscape --file=$$i" "vector"
\converter "svg" "png" "inkscape --without-gui --file=$$i --export-png=$$o" ""
\converter "svg" "pdf" "inkscape --file=$$p/$$i --export-area-drawing --without-gui --export-pdf=$$p/$$o" ""
\converter "svg" "eps" "inkscape --file=$$p/$$i --export-area-drawing --without-gui --export-eps=$$p/$$o" ""
\converter "pdf" "png" "convert $$i $$o" ""
\converter "eps" "png" "convert $$i $$o" ""